<div *ngIf="!loggedInUser" class="center">
  <p>Login</p>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" name="username" [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" name="password" [(ngModel)]="password">
  </mat-form-field><br/>
  <button mat-button (click)="login()">Login</button><br/>
  <button mat-button routerLink="/register">Register</button>

</div>

<div *ngIf="loggedInUser">
  <button mat-button (click)="logout()">Logout</button>

  <table mat-table [dataSource]="listDataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="todos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Todos </th>
    <td mat-cell *matCellDef="let element">
      <p *ngFor="let todo of element.todos">
        [ {{todo.taskID}}, {{todo.text}}, {{todo.date}} ]
        <button mat-button (click)="openTodoDialog(element.id, todo)">
          Update
        </button>
      </p>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="listAction">
    <th mat-header-cell *matHeaderCellDef> List Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="deleteList(element)">Delete list</button>
      <button mat-button (click)="openUpdateListDialog(element)">Update list</button>
    </td>
  </ng-container>

    <ng-container matColumnDef="todoAction">
      <th mat-header-cell *matHeaderCellDef> Todo Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="openTodoDialog(element.id)">Add todo</button>
        <button mat-button (click)="openDeleteTodoDialog(element.id)">Delete todo</button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="listDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: listDisplayedColumns;"></tr>
</table>


<div class="center" style="margin-top: -50px;">
  <p>Create list</p>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title" name="title" [(ngModel)]="listElm.title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Description" name="description" [(ngModel)]="listElm.description">
  </mat-form-field>
  <button mat-button (click)="createList()">Create list</button>

</div>

</div>
